// Footer
.footer {
   flex: none;
   margin-top: 48px;
   padding-top: 35px;
   padding-bottom: 32px;
   
   .wrap {
      display: flex;
      justify-content: space-between;
   }

   p {
      margin-bottom: 0;
      line-height: normal;
   }
}