// Header
.header {
   z-index: 4;
   position: absolute;
   top: 0;
   left: 0;
   flex: none;
   width: 100%;
   
   .wrap {
		display: flex;
		align-items: center;
      justify-content: space-between;
   }

   &__case {
		position: relative;
		display: block;
		padding-top: 32px;
		padding-bottom: 24px;
		min-width: 105px;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      color: $color-body-links;

      em {
         display: inline-block;
			transform: translateY(0);
			transition: all 0.4s;
			font-style: initial;
      }

      a {
         position: absolute;
         top: 0;
         left: 0;
         opacity: 0;
         visibility: hidden;
			transition: all 0.4s;

			&::after {
				content: " ";
				position: absolute;
				top: 4px;
				right: calc(100% + 8px);
				display: inline-block;
				transition: all 0.3s ease;
				width: 6px;
				height: 10px;
				background-image: url("../icons/ic_arrow_left.svg"); 
				background-repeat: no-repeat;
			}

			&:hover {
				&::after {
					right: calc(100% + 12px);
				}
			}
      }

      &:hover {
        @include media(min, sm) {
				em {
					transform: translateY(20px);
					opacity: 0;
					visibility: hidden;
				}
				
				a {
					top: 32px;
					opacity: 1;
					visibility: visible;
				}
			}
      }
   }

   &__menu {
      display: flex;
   }

   &__trigger {
      display: none;
   }

   @include media(max, xs) {
      padding-top: 16px;
      padding-bottom: 16px;
      transition: background-color 0.3s;

      .wrap {
         align-items: center;
		}
		
		&__case {
			padding-top: 0;
			padding-bottom: 0;
		}

      &__menu {
         position: absolute;
         top: 72px;
         left: 0;
         width: 100%;
         justify-content: space-between;
         transition: all 0.3s;
         opacity: 0;
         visibility: hidden;
         padding: 24px;
         background-color: $color-dark-light;

         .u--arrow-right {
            &::after {
               display: none;
            }
         }
      }
      
      &__trigger {
         display: inline-block;
         width: 40px;
         height: 40px;
         border-radius: 100%;
         border: 1px solid rgba(255, 255, 255, 0.2);
         background-image: url("../icons/ic_menu.svg");
         background-position: center;
         background-repeat: no-repeat;
         background-size: 14px 12px;
         cursor: pointer;
      }

      &.header--opened {
         background-color: $color-dark-light;

         .header__trigger {
            background-image: url("../icons/ic_close.svg");
            background-size: 10px;
         }

         .header__menu {
            opacity: 1;
            visibility: visible;
         }
      }
   }
}