// Links
a {
   position: relative;
   display: inline-block;
   font-family: $font-primary;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   text-decoration: none;
   color: $color-body-links;
   
   &:focus {
      text-decoration: none;      
      color: $color-body-links;
   }

   &::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      transition: all 0.3s ease-out;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
   }

   &:hover {
      &::before {
         background-color: #40BD6A;
      }
   }
}

// Links Icons
a.u--arrow-right {
   position: relative;

   &::after {
      content: " ";
      position: absolute;
      top: 4px;
      left: calc(100% + 8px);
      display: inline-block;
      transition: left 0.3s ease;
      width: 6px;
      height: 10px;
      background-image: url("../icons/ic_arrow_right.svg"); 
      background-repeat: no-repeat;
   }

   &:hover {
      &::after {
         left: calc(100% + 12px);
      }

      &::before {
         background-color: #F2994A;
      }
   }
}