<!-- Modal -->
<div id="about" class="modal" data-simplebar>
   <div class="modal__body">
      <h2>Good News!</h2>
      
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account.</p>
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account.</p>
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure.</p>
   </div>

   <div class="modal__actions">
      <a class="modal__close" href="#0">Close</a>
   </div>
</div>