<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1A1A1A">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ page.title }}</title>

	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
	<link href="/assets/fonts/sanfrancisco.css" rel="stylesheet">

	<!-- Plugins -->
	<link href="/assets/css/simplebar.css" rel="stylesheet">
	
	<!-- Main CSS-->
	<link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
	<!-- Pre-Loader -->
	<div class="preloader"></div>

   {{ content }}

   <!-- Footer -->
	<footer class="footer">
		<div class="wrap">
			<p class="footer__copy">
				<span class="u--hidden-sm">For desginers</span> by <a href="http://bit.ly/2FdyuYE">Eliezer Pujols</a>
			</p>
			<p class="footer__social">
				<span class="u--hidden-sm">Use the hashtag</span> <a href="">#designbycases</a>
			</p>			
		</div>
	</footer>

	{% include more-about.html %}

	<!-- Plugins -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="/assets/js/simplebar.js"></script>

	<!-- Main JS -->
	<script src="/assets/js/main.js"></script>
</body>
</html>