<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Weekly UI design challenge to solve real problems with better solutions ideas.">
    <meta name="author" content="Eliezer Pujols">
	<meta name="theme-color" content="#1A1A1A">
    <title>{{ page.title }}</title>
    
    <!-- Description -->

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ '/assets/icons/favicon.ico' | absolute_url }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ '/assets/icons/apple-touch-icon.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/icons/apple-touch-icon-57x57.png' }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/icons/apple-touch-icon-72x72.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/icons/apple-touch-icon-76x76.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/icons/apple-touch-icon-114x114.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/icons/apple-touch-icon-120x120.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/icons/apple-touch-icon-144x144.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/icons/apple-touch-icon-152x152.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon-180x180.png' | absolute_url }}">

	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono:400,700" rel="stylesheet">

	<!-- Plugins -->
	<link href="{{ '/assets/css/simplebar.css' | absolute_url }}" rel="stylesheet">
	
	<!-- Main CSS-->
	<link href="{{ '/assets/css/main.css' | absolute_url }}" rel="stylesheet">
</head>
<body>
	<!-- Pre-Loader -->
	<div class="preloader"></div>

   {{ content }}

   <!-- Footer -->
	<footer class="footer">
		<div class="wrap">
			<p class="footer__copy">
				<span class="u--hidden-sm editable">For desginers</span> by <a href="http://bit.ly/2FdyuYE">Eliezer Pujols</a>
			</p>
			<p class="footer__social">
				<span class="u--hidden-sm editable">Use the hashtag</span> <a href="">#designbycases</a>
			</p>			
		</div>
	</footer>

	{% include more-about.html %}

	<!-- Plugins -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="{{ '/assets/js/simplebar.js' | absolute_url }}"></script>

	<!-- Main JS -->
	<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
</body>
</html>